<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="BugSystemConnectionString" connectionString="Data Source=LOCALHOST;Initial Catalog=BugSystem;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <!--Mjedisi setup i forms.authentication-->

    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="/Secure/Default.aspx" path="/" protection="All" timeout="20">
        <credentials passwordFormat="Clear">
        </credentials>
      </forms>
    </authentication>
    
    <authorization>
      <allow users="*"/>
    </authorization>
    
    
  </system.web>
</configuration>